    @mixin btn {
        display: inline-block;
        margin-top: 2rem;
        font-size: clamp(1rem, 0.818rem + 0.91vw, 1.5rem);
        padding: 3rem 5rem 8rem 6rem;
        text-align: center;
        font-weight: 600;
        letter-spacing: .2rem;
        background: url(../icon/butter.png) no-repeat center center/contain;

        &:hover {
            background-image: url(../icon/cake.png);
        }

        @media screen and (max-width: 768px) {
            font-size: 18px;
        }
    }