@charset "UTF-8";
body {
  --sb-track-color: #F5F5F7;
  --sb-thumb-color: #E94F17;
  --sb-size: 15px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 17px;
  border: 1px solid #232E33;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
/*///////////////////////////
全体設定
///////////////////////////*/
:root {
  --yellow: #f6ea25;
  --blue: #0081AA;
  --red: #E94F17;
  --light-gray: #e0e0e0;
  --gray: #F5F5F7;
  --dark-gray: #8a8a91;
  --black: #030201;
  --white: #fff;
  --font-jp: "Noto Sans JP", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  --font-en: "Hind", "Helvetica", "Arial", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: var(--gray);
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
  font-family: var(--font-jp);
  font-size: 16px;
  line-height: 1.7;
  color: var(--black);
  overflow-x: hidden;
  letter-spacing: 1.3px;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.inner {
  max-width: 1500px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  body {
    font-size: clamp(0.875rem, 0.786rem + 0.45vw, 1rem);
  }
}
/* ===============================================
# ヘッダー
=============================================== */
header {
  /* ===============================================
  # トップへ戻る
  =============================================== */
}
header .gnav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 9999;
  background-color: transparent;
  height: 75px;
}
@media screen and (max-width: 768px) {
  header .gnav-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
header .gnav-wrapper.open {
  height: 100vh;
  background: url(../icon/sky.jpg) no-repeat center center/cover;
}
header .gnav-wrapper h1 {
  position: relative;
  -webkit-transform: translateX(20vw);
          transform: translateX(20vw);
  height: 73px;
}
@media (max-width: 719px) {
  header .gnav-wrapper h1 {
    -webkit-transform: translateX(8vw);
            transform: translateX(8vw);
  }
}
header .gnav-wrapper h1 span {
  position: absolute;
  font-size: 8px;
  top: 8px;
  left: 45px;
}
header .gnav-wrapper .gnav-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 2rem;
}
@media screen and (max-width: 768px) {
  header .gnav-wrapper .gnav-icon {
    height: 75px;
    width: 100vw;
  }
}
header .gnav-wrapper .icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
header .gnav-wrapper .icon-wrapper .instagram,
header .gnav-wrapper .icon-wrapper .contact {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--red);
}
header .gnav-wrapper .icon-wrapper .instagram p,
header .gnav-wrapper .icon-wrapper .contact p {
  font-size: 10px;
  font-weight: bold;
  margin-top: -1.2rem;
  text-align: center;
}
header .gnav-wrapper .icon-wrapper .instagram {
  top: -150px;
  left: -80px;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}
@media (max-width: 719px) {
  header .gnav-wrapper .icon-wrapper .instagram {
    top: -70px;
    left: -30px;
  }
}
header .gnav-wrapper .icon-wrapper .instagram p {
  margin-left: -7rem;
}
header .gnav-wrapper .icon-wrapper .instagram img {
  width: 40vw;
  max-width: 300px;
}
@media (max-width: 719px) {
  header .gnav-wrapper .icon-wrapper .instagram img {
    width: 30vw;
    min-width: 130px;
  }
}
header .gnav-wrapper .icon-wrapper .contact {
  left: -20px;
  top: 90px;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}
@media (max-width: 719px) {
  header .gnav-wrapper .icon-wrapper .contact {
    top: 60px;
    left: 0;
  }
}
header .gnav-wrapper .icon-wrapper .contact p {
  margin-top: 0.3rem;
  margin-left: 1.8rem;
}
@media (max-width: 719px) {
  header .gnav-wrapper .icon-wrapper .contact p {
    margin-left: 0.5rem;
  }
}
header .gnav-wrapper .icon-wrapper .contact img {
  width: 15vw;
  max-width: 100px;
}
header .gnav-wrapper .hamburger {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  width: 60px;
  cursor: pointer;
  padding-top: 15px;
}
@media screen and (max-width: 768px) {
  header .gnav-wrapper .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
header .gnav-wrapper .hamburger span {
  display: block;
  width: 40px;
  height: 4px;
  background-color: var(--black);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  border-radius: 50px;
}
header .gnav-wrapper .hamburger.open span:nth-child(1) {
  -webkit-transform: translateY(9px) rotate(315deg);
          transform: translateY(9px) rotate(315deg);
}
header .gnav-wrapper .hamburger.open span:nth-child(2) {
  opacity: 0;
}
header .gnav-wrapper .hamburger.open span:nth-child(3) {
  -webkit-transform: translateY(-9px) rotate(-315deg);
          transform: translateY(-9px) rotate(-315deg);
}
header .gnav-wrapper .hamburger .menu-text {
  font-size: 10px;
  word-break: keep-all;
  font-weight: bold;
}
header .gnav-wrapper .gnav-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  font-size: 24px;
  font-weight: 600;
  font-family: var(--font-en);
  padding: 1rem;
  cursor: pointer;
}
header .gnav-wrapper .gnav-logo img {
  width: 50px;
}
header .gnav-wrapper .gnav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  word-break: keep-all;
  border-radius: 20px;
  padding-right: 1rem;
}
@media screen and (max-width: 768px) {
  header .gnav-wrapper .gnav-list {
    display: none;
  }
  header .gnav-wrapper .gnav-list.open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
}
header .gnav-wrapper .gnav-list a {
  height: 75px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 600;
  font-size: clamp(0.875rem, 0.431rem + 0.93vw, 1.125rem);
  border: 1px solid var(--black);
  border-radius: 50px;
  letter-spacing: 0.15rem;
  font-family: var(--font-en);
  padding: 1rem;
  background-color: var(--yellow);
}
header .gnav-wrapper .gnav-list a:hover {
  background: radial-gradient(circle, rgb(63, 94, 251) 0%, rgb(252, 70, 107) 100%);
  color: #fff;
}
@media (max-width: 719px) {
  header .gnav-wrapper .gnav-list a {
    font-size: 40px;
    margin: 1rem auto;
    padding: 4rem 0;
    width: 100vw;
  }
}
header .gnav-wrapper .gnav-list a span {
  font-size: 12px;
  margin-bottom: -0.5rem;
  font-weight: normal;
  font-family: var(--font-jp);
}
header .gnav-wrapper .gnav-list .preparing {
  position: relative;
}
header .gnav-wrapper .gnav-list .preparing:before {
  content: "";
  position: absolute;
  background-color: var(--black);
  opacity: 0.5;
  mix-blend-mode: multiply;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 8;
  border-radius: 50px;
}
header .gnav-wrapper .gnav-list .preparing:after {
  content: "準備中";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: var(--white);
  z-index: 9;
  font-weight: 200;
  letter-spacing: 4px;
}
@media screen and (max-width: 768px) {
  header .gnav-wrapper .gnav-list .preparing {
    width: 100vw;
  }
}
header .to-top {
  position: fixed;
  text-align: center;
  bottom: 20px;
  right: 20px;
  height: 100px;
  width: 100px;
  cursor: pointer;
  z-index: 9999;
  background: url(../icon/kurukuru2.png) no-repeat center center/contain;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}
header .to-top:hover {
  background: url(../icon/kurukuru.png) no-repeat center center/contain;
}
@media screen and (max-width: 768px) {
  header .to-top {
    height: 80px;
    right: 10px;
    bottom: 10px;
  }
}

/* ===============================================
# mimizu
=============================================== */
.mimizu {
  background: url(../icon/mimizu1.png) no-repeat center center/contain;
  width: 20vw;
  height: 15vw;
  max-width: 200px;
  position: fixed;
  bottom: -18px;
  left: 20px;
  z-index: 888888;
}
@media screen and (max-width: 768px) {
  .mimizu {
    height: 20vh;
    width: 30vw;
  }
}

/* ===============================================
# トップ
=============================================== */
#top {
  position: fixed;
  left: 0;
  z-index: -1;
  background: url(../icon/sky.jpg) no-repeat center center/cover;
}
#top .kv-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
#top .kv-wrapper .kv-item {
  position: relative;
  width: 100%;
  height: 100%;
}
#top .kv-wrapper .kv-item li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  -o-object-position: center;
     object-position: center;
}

/* ===============================================
# すべてを見る
=============================================== */
.all-view {
  display: block;
  /* この行を追加 */
  -webkit-transform: translateX(-50vw);
          transform: translateX(-50vw);
  background: url(../icon/kami.png) no-repeat center center/contain;
  background-position: 65% center;
  padding: 120px;
  margin: 50px auto 300px;
  -webkit-transition: -webkit-transform 0.1s ease-out;
  transition: -webkit-transform 0.1s ease-out;
  transition: transform 0.1s ease-out;
  transition: transform 0.1s ease-out, -webkit-transform 0.1s ease-out;
}
.all-view:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
@media screen and (min-width: 1200px) {
  .all-view {
    padding: 150px;
    background-position: 55% center;
  }
}
@media (max-width: 719px) {
  .all-view {
    -webkit-transform: initial;
            transform: initial;
    margin-bottom: 180px;
  }
}
.all-view img {
  width: 20vw;
  max-width: 200px;
  margin-left: 1.5rem;
  -webkit-transition: -webkit-transform 0.1s ease-out;
  transition: -webkit-transform 0.1s ease-out;
  transition: transform 0.1s ease-out;
  transition: transform 0.1s ease-out, -webkit-transform 0.1s ease-out;
}
.all-view img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
@media screen and (max-width: 768px) {
  .all-view img {
    width: 90%;
    max-width: inherit;
  }
}

.see-all {
  position: relative;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  display: block;
}
@media (max-width: 719px) {
  .see-all {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 12px;
  }
}
.see-all:before {
  content: "";
  position: absolute;
  top: calc(180% - 3.5px);
  right: 20vw;
  width: 30px;
  height: 18px;
  border-right: 3px solid currentColor;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: right 0.5s ease, -webkit-transform 0.5s ease;
  transition: right 0.5s ease, -webkit-transform 0.5s ease;
  transition: transform 0.5s ease, right 0.5s ease;
  transition: transform 0.5s ease, right 0.5s ease, -webkit-transform 0.5s ease;
}
@media (max-width: 719px) {
  .see-all:before {
    display: none;
  }
}
.see-all:after {
  content: "";
  position: absolute;
  top: 180%;
  right: 20vw;
  width: 80px;
  height: 3px;
  background-color: currentColor;
  -webkit-transition: right 0.5s ease, -webkit-transform 0.5s ease;
  transition: right 0.5s ease, -webkit-transform 0.5s ease;
  transition: transform 0.5s ease, right 0.5s ease;
  transition: transform 0.5s ease, right 0.5s ease, -webkit-transform 0.5s ease;
}
@media screen and (max-width: 768px) {
  .see-all:after {
    top: 120%;
    right: -20%;
  }
}
.see-all:hover::after {
  right: -100px;
}
@media screen and (max-width: 768px) {
  .see-all:hover::after {
    right: -20%;
  }
}
.see-all:hover::before {
  right: -100px;
}
@media screen and (max-width: 768px) {
  .see-all:hover::before {
    right: -20%;
  }
}

/* ===============================================
# ファンシー
=============================================== */
.fancybox-button {
  width: 60px;
  height: 60px;
  color: transparent;
  margin-top: 5px;
}
.fancybox-button:hover {
  color: transparent;
}
.fancybox-button--zoom {
  background: url(../icon/cake.png) no-repeat center center/contain;
}
.fancybox-button--play {
  background: url(../icon/sankaku.png) no-repeat center center/contain;
}
.fancybox-button--thumbs {
  background: url(../icon/happabito.webp) no-repeat center center/contain;
}
.fancybox-button--close {
  background: url(../icon/organ.webp) no-repeat center center/contain;
}
.fancybox-button--arrow_right {
  width: 80px !important;
  padding: 0 !important;
  background: url(../icon/clearbtn.png) no-repeat center center/contain;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}
.fancybox-button--arrow_left {
  width: 80px !important;
  padding: 0 !important;
  background: url(../icon/clearbtn.png) no-repeat center center/contain;
}

/* ===============================================
# セクション共通
=============================================== */
#Artworks,
#Drawings,
#omen,
#external,
#contact,
#exhibition {
  margin: 30vh 2rem 0;
  padding-bottom: 12vh;
  text-align: center;
  background-color: var(--gray);
  position: relative;
}
#Artworks:after,
#Drawings:after,
#omen:after,
#external:after,
#contact:after,
#exhibition:after {
  content: "";
  width: 100%;
  height: 8%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: url(../icon/kusamura.png) repeat-x bottom center/contain;
}
@media (max-width: 719px) {
  #Artworks:after,
  #Drawings:after,
  #omen:after,
  #external:after,
  #contact:after,
  #exhibition:after {
    background-size: cover;
    height: 120px;
  }
}
@media (max-width: 719px) {
  #Artworks,
  #Drawings,
  #omen,
  #external,
  #contact,
  #exhibition {
    margin: 30vh 0;
  }
}

.title-wrapper {
  background-color: var(--yellow);
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 50px;
  font-weight: 600;
  padding: 3rem;
  letter-spacing: 0.2rem;
  -webkit-transform: rotate(3deg);
          transform: rotate(3deg);
  width: 50vw;
  margin: 0 auto;
  max-width: 420px;
}
@media (max-width: 719px) {
  .title {
    width: 88vw;
  }
}
.title span {
  font-size: 20px;
  margin-bottom: -0.5rem;
  color: var(--blue);
  font-weight: 400;
}

.card-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3vw;
  padding: 5rem 1rem;
  background: var(--gray);
  border-top: 1px solid var(--black);
  border-bottom: 1px solid var(--black);
}
@media (max-width: 719px) {
  .card-wrapper {
    padding: 0;
  }
}
.card-wrapper .card {
  position: relative;
  padding: 2vw;
  width: 300px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  border-bottom: 1px solid var(--light-gray);
  border-right: 1px solid var(--light-gray);
}
@media (max-width: 719px) {
  .card-wrapper .card {
    margin-bottom: 50px;
  }
}
.card-wrapper .card img {
  position: relative;
}
.card-wrapper .card img:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}
.card-wrapper .card .year {
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  .card-wrapper .card .year {
    font-size: 12px;
  }
}
.card-wrapper .new-tag {
  position: absolute;
  top: -5%;
  left: -5%;
  padding: 2rem;
  background: url(../icon/tag3.png) no-repeat center center/contain;
  font-style: italic;
  font-weight: bold;
  color: var(--white);
  z-index: 80;
  -webkit-animation: guruguru 8s linear infinite;
          animation: guruguru 8s linear infinite;
}

/* ===============================================
# アートワーク
=============================================== */
.main #Artworks {
  margin-top: 100vh;
}
.main #Artworks h3 {
  margin-left: -1.8rem;
}
.main #Artworks .year {
  margin-left: -2rem;
}
@media screen and (max-width: 768px) {
  .main #Artworks {
    margin-top: 50vh;
  }
}

.tekuteku {
  margin: 50px 0 0;
  width: 100vw;
  height: 15vmax;
  -webkit-animation: tekuteku 1s steps(1) infinite;
          animation: tekuteku 1s steps(1) infinite;
  -webkit-transform: translateY(-340px);
          transform: translateY(-340px);
}
@media (max-width: 719px) {
  .tekuteku {
    margin: 50px 0 0;
    -webkit-transform: translateY(-550px);
            transform: translateY(-550px);
  }
}

/* ===============================================
# ドローイング
=============================================== */
#Drawings h3 {
  margin: 0 auto;
}

/* ===============================================
# お面
=============================================== */
#omen .card-wrapper .card .omen-img {
  width: 30vw;
  height: 30vh;
  margin-left: -5vw;
}
@media screen and (max-width: 768px) {
  #omen .card-wrapper .card .omen-img {
    margin-left: 0;
    width: 250px;
  }
}
#omen .card-wrapper .card .toubu {
  -webkit-animation: toubu 0.5s steps(1) infinite;
          animation: toubu 0.5s steps(1) infinite;
}
#omen .card-wrapper .card .yellow {
  -webkit-animation: yellow 0.8s steps(1) infinite;
          animation: yellow 0.8s steps(1) infinite;
  width: 35vw;
}
#omen .card-wrapper .card .yellow:hover {
  -webkit-animation: none;
          animation: none;
  background: url(../omen/yellowheadgear02.webp) no-repeat center center/contain;
}
@media (max-width: 719px) {
  #omen .card-wrapper .card .yellow {
    width: 80vw;
    margin-left: -10vw;
  }
}
#omen .card-wrapper .card .tengu {
  -webkit-animation: tengu 0.6s steps(1) infinite;
          animation: tengu 0.6s steps(1) infinite;
}
#omen .card-wrapper .card .tengu:hover {
  -webkit-animation: none;
          animation: none;
  background: url(../omen/tengumen02.webp) no-repeat center center/contain;
}

/* ===============================================
コンタクト
=============================================== */
#contact {
  padding-bottom: 20vh;
}
#contact dl {
  border-top: 2px solid var(--dark-gray);
  width: 100%;
  padding: 1.8rem;
  text-align: center;
}
#contact dl:first-child {
  margin-top: 50px;
}
#contact dl dt {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 2rem;
}
#contact dl .btn a {
  position: relative;
  display: inline-block;
  margin-top: 2rem;
  font-size: clamp(1rem, 0.818rem + 0.91vw, 1.5rem);
  padding: 2rem 5rem;
  text-align: center;
  letter-spacing: 0.3rem;
  background-color: #e94f17;
  border-radius: 15px;
  border: 2px solid #512616;
  border-top: 3px solid #f7a98c;
  -webkit-box-shadow: 0px 8px 0px #365760;
          box-shadow: 0px 8px 0px #365760;
  color: #fff;
  -webkit-transition: all 0.05s ease-in-out;
  transition: all 0.05s ease-in-out;
}
#contact dl .btn a:hover {
  -webkit-box-shadow: 0px 0px 0px #634237;
          box-shadow: 0px 0px 0px #634237;
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}
@media screen and (max-width: 768px) {
  #contact dl .btn a {
    font-size: 18px;
  }
}

/* ===============================================
# 別サイトリンク
=============================================== */
.external-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5vw;
}
.external-wrapper .external-site {
  width: 60vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 719px) {
  .external-wrapper .external-site {
    width: 80vw;
  }
}
.external-wrapper .external-site img {
  margin: 10vh 0 1rem;
  max-width: 1000px;
}
.external-wrapper .external-site img:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}
.external-wrapper .external-site h4 {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  margin: 5rem 0 1rem;
  border: 1px solid var(--black);
  background-color: var(--yellow);
  padding: 0.5rem 1.3rem;
  border-radius: 50px;
}

/* ===============================================
# フッター
=============================================== */
footer {
  text-align: center;
  padding: 1rem;
  margin-top: 50px;
}
footer .logo img {
  width: 30vw;
  margin-bottom: 20px;
}
footer .footer-insta img {
  width: 50px;
}
footer .link-hp {
  display: block;
}
footer .link-hp p {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.3rem 3rem;
  border: 1px solid var(--black);
  background-color: var(--light-gray);
  border-radius: 50px;
  font-size: 12px;
}
footer .followUs {
  border: 1px solid var(--black);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  width: 300px;
  margin: 0 auto 0.5rem;
}
footer .followUs .followUs-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid var(--black);
  height: 105px;
}
footer .followUs .followUs-container p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  height: 100%;
  height: 105px;
  background: rgb(255, 254, 52);
  background: radial-gradient(circle, rgb(255, 254, 52) 23%, rgb(53, 242, 247) 54%, rgb(240, 73, 5) 99%);
  -webkit-filter: hue-rotate(180deg);
          filter: hue-rotate(180deg);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
footer .followUs .followUs-container p:hover {
  -webkit-filter: hue-rotate(0deg);
          filter: hue-rotate(0deg);
}
footer .followUs .followUs-container img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 150px;
  height: 105px;
  -webkit-filter: saturate(120%);
          filter: saturate(120%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
footer .followUs .followUs-container img:hover {
  -webkit-filter: saturate(300%);
          filter: saturate(300%);
}
footer .followUs .footer-insta {
  padding: 10px;
}
@media (max-width: 719px) {
  footer small {
    font-size: 8px;
    font-size: 0.5rem;
  }
}

.hituji {
  background: url(../icon/hituji.png) no-repeat center center/contain;
  width: auto;
  height: 28vw;
  margin: 0 auto;
  -webkit-animation: hituji 1s steps(1) infinite;
          animation: hituji 1s steps(1) infinite;
}
@media screen and (max-width: 768px) {
  .hituji {
    height: 28vh;
  }
}

/* ===============================================
# キャンバス
=============================================== */
.oekaki {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 80px;
}
.oekaki h2 {
  font-size: 32px;
  font-size: 2rem;
  background-color: var(--yellow);
  padding: 0.5rem 0.5rem 0.5rem 2rem;
  border-radius: 50px;
  border: 1px solid var(--black);
  position: relative;
}
@media (max-width: 719px) {
  .oekaki h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0.5rem;
    font-size: 24px;
    font-size: 1.5rem;
  }
}
.oekaki h2 img {
  width: 50px;
}
@media (max-width: 719px) {
  .oekaki h2 img {
    width: 30px;
  }
}
.oekaki h2 span {
  font-size: 21px;
  font-size: 1.3125rem;
  color: var(--blue);
  margin: 0 1rem;
}
@media (max-width: 719px) {
  .oekaki h2 span {
    font-size: 16px;
    font-size: 1rem;
    margin-top: -0.3rem;
  }
}
.oekaki #canvas {
  border: 1px solid var(--black);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(4px);
}
.oekaki .tools {
  width: 802px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--blue);
  padding: 20px 30px;
}
@media screen and (max-width: 800px) {
  .oekaki .tools {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
}
.oekaki .tools .shapes-wrapper {
  gap: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.oekaki .tools .shapes-wrapper #rectangle {
  background: url(../icon/rectangle.png) no-repeat center center/contain;
  width: 65px;
  height: 50px;
  -webkit-transition: -webkit-transform 0s ease-out;
  transition: -webkit-transform 0s ease-out;
  transition: transform 0s ease-out;
  transition: transform 0s ease-out, -webkit-transform 0s ease-out;
}
.oekaki .tools .shapes-wrapper #rectangle:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.oekaki .tools .shapes-wrapper #circle {
  background: url(../icon/circle.png) no-repeat center center/contain;
  width: 50px;
  height: 50px;
  -webkit-transition: -webkit-transform 0s ease-out;
  transition: -webkit-transform 0s ease-out;
  transition: transform 0s ease-out;
  transition: transform 0s ease-out, -webkit-transform 0s ease-out;
}
.oekaki .tools .shapes-wrapper #circle:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.oekaki .tools .shapes-wrapper #triangle {
  background: url(../icon/triangle.png) no-repeat center center/contain;
  width: 65px;
  height: 60px;
  -webkit-transition: -webkit-transform 0s ease-out;
  transition: -webkit-transform 0s ease-out;
  transition: transform 0s ease-out;
  transition: transform 0s ease-out, -webkit-transform 0s ease-out;
}
.oekaki .tools .shapes-wrapper #triangle:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.oekaki .tools .shapes-wrapper #pen {
  width: 65px;
  height: 60px;
  background: url(../icon/pen.png) no-repeat center center/contain;
  -webkit-transition: -webkit-transform 0s ease-out;
  transition: -webkit-transform 0s ease-out;
  transition: transform 0s ease-out;
  transition: transform 0s ease-out, -webkit-transform 0s ease-out;
}
.oekaki .tools .shapes-wrapper #pen:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.oekaki .tools .input-wrapper {
  gap: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.oekaki .tools .input-wrapper input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 300px;
  height: 8px;
  background: var(--gray);
  border-radius: 5px;
}
@media (max-width: 719px) {
  .oekaki .tools .input-wrapper input[type=range] {
    width: 200px;
  }
}
.oekaki .tools .input-wrapper input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 50px;
  height: 60px;
  cursor: pointer;
  background: url(../icon/tankobu.png) no-repeat center center/contain;
}
.oekaki .tools .input-wrapper input[type=range]::-moz-range-thumb {
  width: 50px;
  height: 50px;
  cursor: pointer;
  background: url(../icon/yagihead1.webp) no-repeat center center/contain;
}
.oekaki .tools .input-wrapper input[type=range]::-ms-thumb {
  width: 50px;
  height: 50px;
  cursor: pointer;
  background: url(../icon/yagihead1.webp) no-repeat center center/contain;
}
.oekaki .btn-wrapper {
  width: 800px;
  text-align: center;
  padding: 1rem 0;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 0 0 50px 50px;
}
.oekaki .btn-wrapper #clear,
.oekaki .btn-wrapper #save {
  width: 150px;
  height: 80px;
}
.oekaki .btn-wrapper #clear:hover,
.oekaki .btn-wrapper #save:hover {
  -webkit-animation: katakata 0.1s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite;
          animation: katakata 0.1s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite;
}
@media screen and (max-width: 800px) {
  .oekaki .btn-wrapper #clear,
  .oekaki .btn-wrapper #save {
    width: 150px;
  }
  .oekaki .btn-wrapper #clear:hover,
  .oekaki .btn-wrapper #save:hover {
    -webkit-animation: none;
            animation: none;
  }
}
.oekaki .btn-wrapper #clear {
  background: url(../icon/clearbtn.png) no-repeat center center/contain;
}
.oekaki .btn-wrapper #save {
  background: url(../icon/savebtn.png) no-repeat center center/contain;
}

/* ===============================================
# 絵のページ
=============================================== */
.painting #Artworks {
  margin-top: 75px;
  padding-bottom: 100px;
}
@media (max-width: 719px) {
  .painting #Artworks .card-wrapper {
    padding: 80px;
  }
}
.painting #Artworks .card-wrapper .card {
  border: none;
  gap: 2vw;
}
.painting #Artworks .card-wrapper .card img {
  max-height: 300px;
}
.painting #Artworks .card-wrapper .card h3 {
  margin-top: 1rem;
}
.painting #Artworks .card-wrapper .card .year {
  font-size: 12px;
  margin-left: initial;
}
@media (max-width: 719px) {
  .painting #Artworks .card-wrapper .card .new-tag {
    left: -10%;
    top: -10%;
  }
}
@media (max-width: 719px) {
  .painting .tekuteku {
    -webkit-transform: translateY(-400px);
            transform: translateY(-400px);
  }
}

/* ===============================================
# パカパカ
=============================================== */
.pakapka {
  margin: 50px 0 0;
  width: 100vw;
  height: 20vmax;
  -webkit-animation: pakapaka 0.6s steps(1) infinite;
          animation: pakapaka 0.6s steps(1) infinite;
  -webkit-transform: translateY(-400px);
          transform: translateY(-400px);
}
@media (max-width: 719px) {
  .pakapka {
    margin: 50px 0 0;
  }
}

/* ===============================================
# お問い合わせ
=============================================== */
.contact #top {
  margin-top: 0;
}
.contact .form-wrapper {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 150px;
}
@media (max-width: 719px) {
  .contact .form-wrapper {
    margin-top: 200px;
  }
}
.contact .form-wrapper .form {
  margin: 0 auto;
  text-align: center;
}
.contact .form-wrapper .form .form-iframe {
  width: 100vw;
  height: 1700px;
}
@media (max-width: 719px) {
  .contact .form-wrapper .form .form-iframe {
    height: 2000px;
  }
}

/* ===============================================
# 展示・プロフィールページ
=============================================== */
#exhibition .profile-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 70px;
  border-top: 1px solid #000;
}
@media (max-width: 719px) {
  #exhibition .profile-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px;
  }
}
#exhibition .profile-container .profile-img img {
  width: 200px;
}
@media (max-width: 719px) {
  #exhibition .profile-container .profile-img img {
    height: 300px;
  }
}
#exhibition .profile-container .profile-img p {
  font-size: 10px;
  margin-top: 0.8rem;
}
#exhibition .profile-container .profile-text {
  -moz-text-align-last: left;
       text-align-last: left;
  font-size: clamp(0.75rem, 0.469rem + 0.63vw, 0.938rem);
}
#exhibition .profile-container .profile-text h5 {
  font-size: clamp(1.25rem, 0.5rem + 1.67vw, 1.75rem);
  margin-bottom: 2.5rem;
}
#exhibition .profile-container .profile-text h5 b {
  margin-right: 0.5rem;
}
#exhibition .profile-container .profile-text h4 {
  margin-top: 1rem;
}
#exhibition .profile-container .profile-text h4:before {
  content: "〈";
}
#exhibition .profile-container .profile-text h4:after {
  content: "〉";
}
#exhibition .profile-container .profile-text ul {
  line-height: 1.7rem;
}
#exhibition .profile-container .profile-text ul li .year {
  margin-right: 1rem;
  font-weight: bold;
}
#exhibition .card-wrapper {
  margin: 80px 0px 200px;
  padding: 80px 30px;
}
#exhibition .card-wrapper .card {
  border: none;
  width: 150px;
  height: 150px;
  margin-bottom: 0;
  padding-left: 0;
}
@media (max-width: 719px) {
  #exhibition .card-wrapper .card {
    width: 100px;
    height: 100px;
  }
}
#exhibition .card-wrapper .card img {
  border: 3px solid var(--black);
  border-radius: 8px;
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 719px) {
  #exhibition .card-wrapper .card img {
    width: 100px;
    height: 100px;
    border: 2px solid var(--black);
  }
}
@media (hover: hover) {
  #exhibition .card-wrapper .card img:hover {
    border: 3px solid var(--yellow);
  }
}

.blemmyae {
  text-align: center;
  -webkit-animation: katakata 0.1s linear infinite;
          animation: katakata 0.1s linear infinite;
}
.blemmyae img {
  width: 180px;
}

/* ===============================================
# アニメまとめ
=============================================== */
@-webkit-keyframes katakata {
  0% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(1deg);
            transform: translateX(0px) translateY(0px) rotate(1deg);
  }
  100% {
    -webkit-transform: translateX(3px) translateY(1px) rotate(0deg);
            transform: translateX(3px) translateY(1px) rotate(0deg);
  }
}
@keyframes katakata {
  0% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(1deg);
            transform: translateX(0px) translateY(0px) rotate(1deg);
  }
  100% {
    -webkit-transform: translateX(3px) translateY(1px) rotate(0deg);
            transform: translateX(3px) translateY(1px) rotate(0deg);
  }
}
@-webkit-keyframes tekuteku {
  0% {
    background: url(../icon/tekuteku1.webp) repeat center center/contain;
  }
  50% {
    background: url(../icon/tekuteku3.webp) repeat center center/contain;
  }
}
@keyframes tekuteku {
  0% {
    background: url(../icon/tekuteku1.webp) repeat center center/contain;
  }
  50% {
    background: url(../icon/tekuteku3.webp) repeat center center/contain;
  }
}
@-webkit-keyframes hituji {
  0% {
    background: url(../icon/hituji.png) no-repeat center center/contain;
  }
  50% {
    background: url(../icon/hituji2.png) no-repeat center center/contain;
  }
}
@keyframes hituji {
  0% {
    background: url(../icon/hituji.png) no-repeat center center/contain;
  }
  50% {
    background: url(../icon/hituji2.png) no-repeat center center/contain;
  }
}
@-webkit-keyframes guruguru {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes guruguru {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes pakapaka {
  0% {
    background: url(../icon/hanayagi4.png) repeat-x center center/contain;
  }
  30% {
    background: url(../icon/hanayagi3.png) repeat-x center center/contain;
  }
  50% {
    background: url(../icon/hanayagi1.png) repeat-x center center/contain;
  }
  70% {
    background: url(../icon/hanayagi2.png) repeat-x center center/contain;
  }
}
@keyframes pakapaka {
  0% {
    background: url(../icon/hanayagi4.png) repeat-x center center/contain;
  }
  30% {
    background: url(../icon/hanayagi3.png) repeat-x center center/contain;
  }
  50% {
    background: url(../icon/hanayagi1.png) repeat-x center center/contain;
  }
  70% {
    background: url(../icon/hanayagi2.png) repeat-x center center/contain;
  }
}
@-webkit-keyframes toubu {
  0% {
    background: url(../omen/toubu1.webp) no-repeat center center/contain;
  }
  25% {
    background: url(../omen/toubu2.webp) no-repeat center center/contain;
  }
  50% {
    background: url(../omen/toubu3.webp) no-repeat center center/contain;
  }
  75% {
    background: url(../omen/toubu4.webp) no-repeat center center/contain;
  }
}
@keyframes toubu {
  0% {
    background: url(../omen/toubu1.webp) no-repeat center center/contain;
  }
  25% {
    background: url(../omen/toubu2.webp) no-repeat center center/contain;
  }
  50% {
    background: url(../omen/toubu3.webp) no-repeat center center/contain;
  }
  75% {
    background: url(../omen/toubu4.webp) no-repeat center center/contain;
  }
}
@-webkit-keyframes yellow {
  0% {
    background: url(../omen/yellowheadgear01.webp) no-repeat center center/contain;
  }
  25% {
    background: url(../omen/yellowheadgear03.webp) no-repeat center center/contain;
  }
  50% {
    background: url(../omen/yellowheadgear02.webp) no-repeat center center/contain;
  }
  75% {
    background: url(../omen/yellowheadgear04.webp) no-repeat center center/contain;
  }
}
@keyframes yellow {
  0% {
    background: url(../omen/yellowheadgear01.webp) no-repeat center center/contain;
  }
  25% {
    background: url(../omen/yellowheadgear03.webp) no-repeat center center/contain;
  }
  50% {
    background: url(../omen/yellowheadgear02.webp) no-repeat center center/contain;
  }
  75% {
    background: url(../omen/yellowheadgear04.webp) no-repeat center center/contain;
  }
}
@-webkit-keyframes tengu {
  0% {
    background: url(../omen/tengumen01.webp) no-repeat center center/contain;
  }
  25% {
    background: url(../omen/tengumen03.webp) no-repeat center center/contain;
  }
  50% {
    background: url(../omen/tengumen02.webp) no-repeat center center/contain;
  }
  75% {
    background: url(../omen/tengumen04.webp) no-repeat center center/contain;
  }
}
@keyframes tengu {
  0% {
    background: url(../omen/tengumen01.webp) no-repeat center center/contain;
  }
  25% {
    background: url(../omen/tengumen03.webp) no-repeat center center/contain;
  }
  50% {
    background: url(../omen/tengumen02.webp) no-repeat center center/contain;
  }
  75% {
    background: url(../omen/tengumen04.webp) no-repeat center center/contain;
  }
}/*# sourceMappingURL=style.css.map */